@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&family=Jost:wght@200;300;500&family=Montserrat:wght@300;400;500&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background-color: rgb(20, 3, 33);
}
h1,
h3,
p,
a,
li {
  color: #fff;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 30px;
  text-align: center;
  justify-content: center;
}
.topic {
  grid-column: span 3;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.522);
}

nav {
  border-right: 1px solid rgba(255, 255, 255, 0.522);
  padding: 40px;
}
article {
  padding: 40px;
}
article img {
  width: 100%;
  border-radius: 10px;
}
article p {
  padding-top: 40px;
}
aside {
  border-left: 1px solid rgba(255, 255, 255, 0.522);
  padding: 40px;
}
footer {
  grid-column: span 3;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.522);
  padding: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.522);
}
h3 {
  padding-bottom: 30px;
}
li {
  list-style: none;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
}

/* resposive design */

/* for 980px */
@media screen and (max-width: 980px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.522);
  }
  article {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.522);
  }
  aside {
    grid-column: span 3;
    border-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.522);
  }
  h1,
  h3,
  p,
  a,
  li {
    font-size: 0.8rem;
  }
}
